---
interface Props {
  title: string;
  desc: string;
  url?: string;
}

const { title, desc, url } = Astro.props;
---

<p class="list-item">
  {
    url ? (
      <a href={url} target="_blank" class="list-item-link">
        <span class="list-item-title">{title}</span>
        <span class="list-item-separator"> — </span>
        <span class="list-item-desc">{desc}</span>
      </a>
    ) : (
      <>  
        <span class="list-item-title">{title}</span>
        <span class="list-item-separator"> — </span>
        <span class="list-item-desc">{desc}</span>
      </>
    )
  }
</p>
