---
interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
import Footer from "../components/Footer.astro";
import '../styles/global.scss';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Celebrating the craft and care of SaaS marketing design" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />

    {/* Open Graph Facebook  */}
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />

    {/* Twitter */}
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />
    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
